*{
    box-sizing: border-box;
}
    

body, html{
    margin: 0;
    padding:0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
}

.container{
    display:flex;
    flex-direction: column;
    height: 100vh;

}

header{
    padding: 20px 40px;
    font-size: 24 px;
    font-weight: bold;
    text-align: right;
}

.quiz-container{
    flex:1;
    /* It will grow to fill any available space in the flex container-
    flex-shrink: 1 → It will shrink if there isn't enough space
flex-basis: 0 → 
It starts with no initial width/height, then grows display: flex;
    /* align-items:center; */
}
form.quiz-box {
    background-color: #e0e0e0";
    padding: 20px 40px;
    margin-left: 40px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}


/* ul{
    list-style-type: none;
} */



/* .footer{
    background-color: rgb(6, 176, 6);
    text-align: end;
    color: white;
} */