/* *{
    box-sizing: border-box;it's an option!!!
} */
    

body, html{
    margin: 0;
    padding:0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
}

ul{
    list-style-type: none;
}



.footer{
    background-color: rgb(6, 176, 6);
    text-align: end;
    color: white;
}